.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info div {
  box-sizing: border-box;
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: #424242;
}

.info img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.info p {
  font-size: 1.2rem;
  text-align: justify;
  font-weight: 400;
}

.info h3 {
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  .info {
    flex-direction: column;
  }
  .info div {
    width: 100%;
  }

  .info img {
    height: 15rem;
  }
}
