.item {
  width: 20rem;
  height: 23rem;
  box-shadow: 0 0 10px 1px rgb(126, 126, 126);
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  perspective: 1000px;
}

.item p {
  margin: 0;
  padding: 0 2rem;
}

.item div > div {
  height: 80%;
}


.item label {
  color: #333;
  font-weight: 600;
  height: 20%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.item  img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item:hover .flip-box {
  transform: rotateY(180deg);
}

.flip-box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.item .flip-box__front,
.item .flip-box__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.item .flip-box__back {
  box-sizing: border-box;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  transform: rotateY(180deg);
  font-size: calc(100% + 1px);
}

