.outdoor {
  padding: 2rem;
  width: 70%;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #383838;
  background-color: #ffcf1a;
  box-shadow: -10px -10px 1px #383838;
}

.outdoor h3 {
  font-size: 2rem;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .outdoor iframe {
    width: 100%;
  }
}
