.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0rem;
}

.card img {
  border-radius: 100%;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  box-shadow: 0px 0px 0.8rem 0.1rem #919191;
}

.card h4 {
  margin: 0;
  margin-top: 0.5rem;
  color: #333;
  font-size: 1.5rem;
  font-family: "Slackey", sans-serif;
}

.card p {
  color: #555;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20rem;
  overflow: hidden;
}

.card button {
  border: transparent;
  padding: 0.5rem 2rem;
  background-color: #ffcf1a;
  cursor: pointer;
  color: #333;
  box-shadow: 3px 3px 0px #333;
  font-size: 1rem;
  transition: 0.2s;
}

.card button:hover {
  background-color: #cfa714;
}